<section class="jumbotron" style="background: white;">
  <div class="container" style="max-width: 60rem">
    <h1 class="jumbotron-heading">Hello <%= @full_name %>!</h1>
    <p class="lead text-muted">
      From here you can see your weekly progress, add new goals and track everything.
    </p>
  </div>
</section>
<div class="col-md-8 offset-md-2">
  <ul>
    <li><%= link_to "Add New Emotion", new_emotion_path %></li>
  </ul>
</div>