<section class="jumbotron text-center" style="background: white;">
  <div class="container" style="max-width: 40rem">
    <h1 class="jumbotron-heading">Welcome to the Tracker App</h1>
    <p class="lead text-muted">
      This app was built to make you be more productive by using data to better understand your own functioning and goal achievement.
      Check out the examples below to see how it is used.
    </p>
  </div>
</section>
<div class="album text-muted">
  <div class="container">
    <div class="row col-md-12">
      <div class="card col-md-4" style="width: 20rem; margin-bottom: 32px; padding: 12px; border: none;">
        <i class="fa fa-picture-o fa-5x card-img-top text-center" aria-hidden="true"></i>
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card col-md-4" style="width: 20rem; margin-bottom: 32px; padding: 12px; border: none;">
        <i class="fa fa-picture-o fa-5x card-img-top text-center" aria-hidden="true"></i>
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card col-md-4" style="width: 20rem; margin-bottom: 32px; padding: 12px; border: none;">
        <i class="fa fa-picture-o fa-5x card-img-top text-center" aria-hidden="true"></i>
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>