html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#allContent {
  height:100%;
  width:100%;
}

#top-navbar {
  font-family: 'Alegreya Sans SC', sans-serif;
}

#sidebar-menu {
  font-family: 'Alegreya Sans SC', sans-serif;
  display: none;
  background: #80aaff;
  padding-left: 0;
  padding-right: 0;
}

a.navbar-brand {
  color: white !important;
}

a.nav-link.dropdown-toggle {
  color: white !important;
}

#sidebar-menu ul {
  text-align: center;
}

#sidebar-menu li.nav-item a {
  color: white;
  padding: 0;
}

#sidebar-menu li.nav-item {
  padding-top:.5em;
  padding-bottom:.5em;
}

#content-and-sidebar {
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
}

#main-content {
  background-color: #f7f7f7;
  overflow: auto;
}

.sidebar-dropdown-menu {
  background-color: #80aaff;
}

.sub-side-menu {
  background-color: #192145;
}

.sub-side-menu ul {
  list-style-type: none !important;
  padding-left: 0 !important;
}

.sub-side-menu ul li {
  padding: .5em;
}