<div class="col-md-8 offset-md-2 col-8 offset-xs-2">
  <h1>Edit Habit Goal Task</h1>
  <p class="lead">Fix up your habit goal task here:</p>
  <%= render 'form', habit_goal_task: @habit_goal_task %>
</div>