<div class="container">
  <% flash.each do |key, value| %>
      <% if key == "notice" %>
          <% key = "success" %>
      <% elsif key == "alert" %>
          <% key = "danger" %>
      <% end %>
      <div class="alert alert-<%= key %>">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <ul style="list-style: none; margin-bottom: 0;">
          <li>
            <%= value %>
          </li>
        </ul>
      </div>
  <% end %>
</div>